body{
	background-color: #F2F2F2;
	margin: 1%;
	padding:1%;
}

header{
    background: #B2B2B2;
    background-size: cover;
    text-align: center;
    padding: 2% 3% 2% 3%;
	padding-bottom: 40px;
    background-image: url(../images/flywheel.jpg);
}

h1{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 3%;
}

nav a{
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    margin-block: auto;
    display: inline-block;
    width:20%;
    padding: 1%;
    opacity: .4;
    border-radius: 5px;
}

.active, a:hover{
    background: #ffffff; opacity: .8;
}

h2{
    color: #000000;
}

.right{
    display: inline-block;
    width: 75%;
    height: 100vh;
    margin-left: 1%;
    overflow: auto;
}

.left{
    display: inline-block;
    width: 18%;
    height: 100vh;
    background-color: #747d20;
    overflow: auto;
}

img{
    display: block;
    width: 70%;
    border: solid 2px #000000;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}